parameters:
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: src/CartManager/CartItem.php

		-
			message: '#^Call to function method_exists\(\) with OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterCategory and ''getRootCategory'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilterService/FilterType/ElasticSearch/SelectCategory.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilterService/FilterType/Findologic/MultiSelectRelation.php

		-
			message: '#^Call to function method_exists\(\) with OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterNumberRangeSelection and ''getPreSelectFrom'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilterService/FilterType/Findologic/NumberRangeSelection.php

		-
			message: '#^Call to function method_exists\(\) with OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterNumberRangeSelection and ''getPreSelectTo'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilterService/FilterType/Findologic/NumberRangeSelection.php

		-
			message: '#^Call to function method_exists\(\) with OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterCategory and ''getRootCategory'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilterService/FilterType/Findologic/SelectCategory.php

		-
			message: '#^Instanceof between OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterCategory and OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterCategory will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/FilterService/FilterType/Findologic/SelectCategory.php

		-
			message: '#^Call to function method_exists\(\) with OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterCategoryMultiselect and ''getAvailableCategor…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilterService/FilterType/MultiSelectCategory.php

		-
			message: '#^Call to function method_exists\(\) with OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterNumberRangeSelection and ''getPreSelectFrom'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilterService/FilterType/NumberRangeSelection.php

		-
			message: '#^Call to function method_exists\(\) with OpenDxp\\Model\\DataObject\\Fieldcollection\\Data\\FilterNumberRangeSelection and ''getPreSelectTo'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilterService/FilterType/NumberRangeSelection.php

		-
			message: '#^Offset ''acknowledged'' does not exist on array\<mixed, mixed\>\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/IndexService/Worker/ElasticSearch/AbstractElasticSearch.php

		-
			message: '#^Offset ''acknowledged'' does not exist on array\<mixed, mixed\>\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/IndexService/Worker/OpenSearch/AbstractOpenSearch.php

		-
			message: '#^Method OpenDxp\\Bundle\\EcommerceFrameworkBundle\\OfferTool\\AbstractOfferToolProduct\:\:getById\(\) should return static\(OpenDxp\\Bundle\\EcommerceFrameworkBundle\\OfferTool\\AbstractOfferToolProduct\)\|null but returns OpenDxp\\Bundle\\EcommerceFrameworkBundle\\OfferTool\\AbstractOfferToolProduct\.$#'
			identifier: return.type
			count: 1
			path: src/OfferTool/AbstractOfferToolProduct.php

		-
			message: '#^PHPDoc tag @var with type OpenDxp\\Bundle\\EcommerceFrameworkBundle\\PaymentManager\\V7\\Payment\\PaymentInterface is not subtype of native type OpenDxp\\Model\\DataObject\\Objectbrick\|null\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/OrderManager/V7/OrderAgent.php

		-
			message: '#^Call to function method_exists\(\) with OpenDxp\\Bundle\\EcommerceFrameworkBundle\\Model\\AbstractOrderItem and ''setPricingRules'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/OrderManager/V7/OrderManager.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/PriceSystem/AbstractPriceInfo.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/PriceSystem/TaxManagement/TaxEntry.php

		-
			message: '#^Cannot unset property OpenDxp\\Bundle\\EcommerceFrameworkBundle\\PricingManager\\Condition\\CatalogProduct\:\:\$products because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: src/PricingManager/Condition/CatalogProduct.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 9
			path: src/Type/Decimal.php
